<!DOCTYPE html>
<html>
<head>
    <title>$ext_WebTitle$</title>
    <link type="text/css" rel="stylesheet" href="/Content/Site.css" />
</head>
<body>
    <header>$ext_WebTitle$</header>
    <nav>
        @Html.ActionLink("Home", "Index", "Home")
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; @DateTime.Now.Year - $ext_Copyright$
    </footer>
</body>
</html>