<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" defaultLanguage="C#" explicit="false" batch="true" batchTimeout="60" />
    <httpRuntime targetFramework="4.7.1" enableVersionHeader="false" executionTimeout="30" sendCacheControlHeader="false" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" defaultUrl="~/user/account" loginUrl="~/user/login" name="$ext_safeprojectname$Authentication" requireSSL="true" ticketCompatibilityMode="Framework40" timeout="30" />
    </authentication>
    <membership defaultProvider="$ext_safeprojectname$Membership">
      <providers>
        <clear/>
        <add name="$ext_safeprojectname$Membership" type="$ext_safeprojectname$.Security.Providers.Membership"/>
      </providers>
    </membership>
    <roleManager defaultProvider="$ext_safeprojectname$RoleManager">
      <providers>
        <clear/>
        <add name="$ext_safeprojectname$RoleManager" type="$ext_safeprojectname$.Security.Providers.RoleManager"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="File">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="500" path="/CustomErrors/Error.aspx?code=500" responseMode="ExecuteURL" />
      <error statusCode="404" path="/CustomErrors/Error.aspx?code=404" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="$ext_safeprojectname$Entities" connectionString="metadata=res://*/$ext_safeprojectname$.csdl|res://*/$ext_safeprojectname$.ssdl|res://*/$ext_safeprojectname$.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP\SQL_SERVER_1;initial catalog=$ext_safeprojectname$.DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>