body {
    margin: 0;
    padding: 0;
    font-family: "Arial",monospace;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 6vh;
}

nav {
    background-color: #888888;
    font-size: 3vh;
    text-align: center;
    color: #ffffff;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 1vw;
}

nav a:hover {
    color: #000000;
}

main {
    display: block;
    width: 100vw;
    height: 87vh;
    font-size: 1.5vh;
    text-align: center;
    overflow: auto;
}

main form input {
    padding: 0;
    width: 20vw;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #888888;
    color: #ffffff;
    width: 100vw;
    text-align: center;
    font-size: 2vh;
}
